body{
    background-image: url(/assets/images/chicken-breast-fillet-barbecue-with-spices-sauces.jpg);
    background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: cover;
           color: whitesmoke;
         
           
           

}