input {
  width: 98%;
  height: 28px;
  border: 1px solid white ;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  padding: 5px;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0,0, 0, 0.37);
  
  
}

button{
  width: 200px;
  height: 28px;
  border: 1px solid white ;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  padding: 5px;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0,0, 0, 0.37);
  margin: 10px auto;
  
  
}
textarea {
  border: 1px solid white ;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  padding: 5px;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0,0, 0, 0.37);
}
form{
  width: fit-content;
}


