li {
  text-decoration:none;
  color:darkkhaki;
  font-size: 20px;
  font-weight: bold;
  font-family: "Red Hat Display", sans-serif;
  
  
}
li:hover{
  color: chocolate;
}
li + img {
  width: 50%;
  height: auto;
}
a + p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a{
  text-decoration: none;
}
